.comp-index-link-section{
  position: relative;
  z-index: 10;
  padding: 16vw 0 22vw;
  border-radius: 20px 20px 0 0;
  margin-bottom: -20px;
  .section_wrapper{
    @include wrapper;
    .comp-index-title{
      margin-bottom: 30px;
      hgroup{
        .ttl_en{
          font-size: 2.8rem;
          &.purple{
            color: #4A86FF;
          }
        }
      }
    }
    .vision_img_wrapper{
      position: relative;
      .vision_link{
        display: block;
        border-radius: 10px;
        overflow: hidden;
        .comp-link-button{
          display: block;
          position: absolute;
          width: calc(100% - 30px);
          bottom: 15px;
          left: 15px;
          right: 15px;
          .button_item{
            display: block;
            .vision{
              display: block;
            }
          }
        }
      }
    }
    .link_flex_wrapper{
      .link_img{
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        margin-bottom: 25px;
        &.wide{
          width: 92vw;
        }
      }
      .link_txt{
        .link_desc{
          @include basicP;
          line-height: 2;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-index-link-section{
    position: relative;
    z-index: 10;
    padding: 120px 0 180px;
    border-radius: 60px 60px 0 0;
    margin-bottom: -60px;
    .section_wrapper{
      max-width: 100%;
      width: 100%;
      .comp-index-title{
        @include wrapper;
        margin-bottom: 80px;
        hgroup{
          .ttl_en{
            font-size: 6.0rem;
          }
        }
      }
      .vision_img_wrapper{
        position: relative;
        @include wrapper;
        border-radius: 30px;
        overflow: hidden;
        .vision_link{
          overflow: hidden;
          img{
            border-radius: 30px;
            transition: transform .3s, filter .3s;
          }
          .comp-link-button{
            position: absolute;
            width: 280px;
            bottom: 20px;
            left: unset;
            right: 20px;
            .link{
              display: block;
              text-align: left;
              justify-content: space-between;
              .txt{
                display: block;
                text-indent: 20px;
              }
            }
          }
          &:hover{
            opacity: 1;
            img{
              opacity: 1;
              transform: scale(1.05);
              filter: brightness(105%);
            }
          }
        }
      }
      .link_flex_wrapper{
        @include flexSet;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .link_img{
          width: 58%;
          margin-bottom: 0px;
          border-radius: 20px 0 0 20px;
          overflow: hidden;
          &.wide{
            width: 60%;
          }
        }
        .link_txt{
          width: 35%;
          padding-left: 9vw;
          box-sizing: border-box;
          .link_desc{
            line-height: 2.2;
            margin-bottom: 50px;
          }
          .comp-link-button{
            max-width: 260px;
            a{
              text-align: left;
              justify-content: space-between;
              .txt{
                text-indent: 20px;
              }
            }
          }
        }
      }
    }
  }
}
