@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@-webkit-keyframes reverseloop {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes reverseloop {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes reverseloop2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes reverseloop2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.comp-image-slider {
  width: 100vw;
  position: relative;
  padding: 10px 0 0;
}
.comp-image-slider .slider_box {
  margin-bottom: 5px;
}
.comp-image-slider .slider_box .simply-scroll-list {
  position: relative;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.comp-image-slider .slider_box .simply-scroll-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  will-change: transform, filter;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.comp-image-slider .slider_box .simply-scroll-list ul:first-child {
  -webkit-animation: reverseloop 80s -40s linear infinite;
          animation: reverseloop 80s -40s linear infinite;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
.comp-image-slider .slider_box .simply-scroll-list ul:nth-of-type(2) {
  -webkit-animation: reverseloop2 80s linear infinite;
          animation: reverseloop2 80s linear infinite;
}
.comp-image-slider .slider_box .simply-scroll-list ul ul + ul {
  -webkit-animation: reverseloop2 80s linear infinite;
          animation: reverseloop2 80s linear infinite;
}
.comp-image-slider .slider_box .simply-scroll-list ul li {
  width: 80vw;
  margin-right: 5vw;
  border-radius: 20px;
}
@media screen and (min-width: 980px) {
  .comp-image-slider .slider_box .simply-scroll-list ul li {
    width: 460px;
    margin-right: 30px;
  }
}
.comp-image-slider .slider_box .simply-scroll-list ul li img {
  width: 100%;
  border-radius: 20px;
}