.comp-benefit-title{
  margin-bottom: 50px;
  .ttl_flex_wrap{
    position: relative;
    &::before{
      display: block;
      content: "";
      position: absolute;
      top: 18px;
      right: -9vw;
      width: 0;
      height: 2px;
      background-image: linear-gradient(to right, $keyColor 0%, $insertColor 100%);
      transition: width .5s cubic-bezier(0.5, 1, 0.89, 1);
      will-change: width;
    }
    .ttl{
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 15px;
    }
    .desc_wrap{
      @include basicP;
      span{
        display:block;
        color: #797979;
      }
    }
  }
}

.effect2{
  .comp-benefit-title{
    .ttl_flex_wrap{
      &::before{
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-benefit-title{
    margin-bottom: 100px;
    .ttl_flex_wrap{
      @include flexSet;
      align-items: flex-end;
      position: relative;
      &::before{
        top: 15px;
        right: -9vw;
        height: 2px;
      }
      .ttl{
        width: 50%;
        font-size: 5.0rem;
        margin-bottom: 0px;
      }
      .desc_wrap{
        position: relative;
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }
  .effect2{
    .comp-benefit-title{
      .ttl_flex_wrap{
        &::before{
          width: calc(50% + 9vw);
        }
      }
    }
  }
}
