.comp-number-graph{
  .graph_wrapper{
    @include flexSet;
    justify-content: space-between;
    margin-bottom: 40px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .graph_ttl{
      width: 100%;
      font-weight: 400;
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
    .graph_item{
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      &.half{
        width: calc(50% - 7.5px);
      }
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .item_ttl{
        position: absolute;
        top:0;
        left: 0;
        font-size: 1.0rem;
        line-height: 1;
        span{
          position: relative;
          display: inline-block;
          padding: 10px 5px;
          &::before{
            display: block;
            content: "";
            position: absolute;
            bottom:0;
            left:0;
            width: 100%;
            height: 2px;
            background-image: linear-gradient(to right, $keyColor 0%, $insertColor 100%);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-number-graph{
    .graph_wrapper{
      margin-bottom: 80px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .graph_ttl{
        width: 100%;
        font-size: 2.8rem;
        margin-bottom: 30px;
      }
      .graph_item{
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        &.half_pc{
          width: calc(50% - 15px);
        }
        &.pc31{
          width: calc(32% - 5px);
        }
        &.pc32{
          width: calc(66% - 5px);
        }
        &.triple, &.triple_pc{
          width: calc(33% - 15px);
        }
        &:nth-last-of-type(1){
          margin-bottom: 0;
        }
        .item_ttl{
          font-size: 2.0rem;
          span{
            padding: 15px;
          }
        }
      }
    }
  }
}
