.page-interview-detail{
  .section-interview-header{
    padding: calc(50px + 10vw) 0 13vw;
    position: relative;
    background-image: url(../img/interview/article_bg.jpg);
    background-size: cover;
    background-position: center top;
    .section_wrapper{
      @include wrapper;
      position: relative;
      z-index: 10;
      .thumb_wrapper{
        border-radius: 20px;
        margin-bottom: 20px;
        img{
          border-radius: 20px;
        }
      }
      .article_header{
        .article_ttl{
          font-size: 2.0rem;
          line-height: 1.5;
          color: #fff;
          margin-bottom: 20px;
        }
        .header_lower{
          .date{
            margin-top: 20px;
            font-size: 1.4rem;
            color: #fff;
          }
        }
        .lead_description{
          margin-top: 30px;
          @include basicP;
          color: #fff;
          a{
            color: inherit;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .section-article-profile{
    padding: 15vw 0;
    .profile_flex_wrap{
      .profile_img{
        width: 60%;
        margin: 0 auto 30px;
      }
      .profile_txt{
        .profile_ttl{
          font-size: 1.8rem;
          line-height: 1.5;
          margin-bottom: 15px;
        }
        .profile_desc{
          @include basicP;
        }
      }
    }
  }
  .section-article-content{
    padding: calc(15vw - 50px) 0 18vw;
    background: $bgColor;
  }
}

@media screen and (min-width: 980px){
  .page-interview-detail{
    .section-interview-header{
      padding: 150px 0 120px;
      background-image: url(../img/interview/article_bg_pc.jpg);
      .section_wrapper{
        max-width: 60%;
        position: relative;
        z-index: 10;
        .thumb_wrapper{
          border-radius: 30px;
          margin-bottom: 30px;
          img{
            border-radius: 30px;
          }
        }
        .article_header{
          .article_ttl{
            font-size: 3.0rem;
            margin-bottom: 30px;
          }
          .header_lower{
            @include flexSet;
            justify-content: space-between;
            align-items: center;
            .date{
              margin-top: 0;
              font-size: 1.8rem;
            }
          }
          .lead_description{
            margin-top: 30px;
            @include basicP;
            color: #fff;
            a{
              color: inherit;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .section-article-profile{
      padding: 80px 0;
      .profile_flex_wrap{
        @include flexSet;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
        .profile_img{
          width: 200px;
          margin: 0;
          margin-right: 60px;
        }
        .profile_txt{
          width: calc(100% - 260px);
          .profile_ttl{
            font-size: 2.0rem;
            margin-bottom: 20px;
          }
        }
      }
    }
    .section-article-content{
      padding: 40px 0 160px;
      .section_inner{
        max-width: 60%;
        width: 60%;
        min-width: unset;
        margin: 0 auto;
      }
    }
  }
}
