.comp-link-button{
  .button_item{
    margin-bottom: 10px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    a, .link{
      display: block;
      position: relative;
      @include flexSet;
      text-align: center;
      line-height: 50px;
      border-radius: 200px;
      .txt{
        width: 100%;
        font-size: 1.4rem;
        position: relative;
        z-index: 10;
        color: #fff;
      }
      .arrow{
        display: block;
        position: absolute;
        z-index: 10;
        top:0;
        right: 0;
        bottom:0;
        width: 50px;
        height:50px;
        border-radius: 50%;
        overflow: hidden;
        .arrow_inner{
          display: block;
          position: relative;
          width: 50px;
          height:50px;
          &::before{
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            bottom:0;
            right:0;
            margin: auto;
            background-image: url(../img/common/arrow.svg);
            background-size: 16px;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &.left{
          display: none;
        }
        &.right{
          right: 0;
        }
      }
      &.blue{
        background-image: linear-gradient(to right, $keyColor 0%, $insertColor 100%);
      }
      &.red{
        background-image: linear-gradient(to right, $keyOrange 0%, $insertOrange 100%);
      }
      &.nobg{
        background-color: transparent;
        border: 1px solid $fontColor;
        .txt{
          color: $fontColor;
        }
        .arrow{
          .arrow_inner{
            &::before{
              background-image: url(../img/common/arrow_gray.svg);
            }
          }
        }
      }
      &.vision{
        background-color: rgba(#fff, 0.8);
        .txt{
          color: $fontColor;
        }
        .arrow{
          background-image: linear-gradient(to right, $keyOrange 0%, $insertOrange 100%);
        }
      }
    }
  }
}


@media screen and (min-width: 980px){
  .comp-link-button{
    .button_item{
      margin-bottom: 0;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      a, .link{
        display: block;
        position: relative;
        @include flexSet;
        text-align: center;
        line-height: 50px;
        border-radius: 200px;
        &::before{
          display: block;
          content: "";
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity .3s;
          will-change: opacity;
          border-radius: 200px;
        }
        .txt{
          position: relative;
          z-index: 10;
          font-size: 1.6rem;
          transition: transform .3s;
          will-change: transform;
        }
        .arrow{
          display: block;
          position: absolute;
          z-index: 10;
          top:0;
          bottom:0;
          right:0;
          width: 50px;
          height:50px;
          border-radius: 50%;
          overflow: hidden;
          .arrow_inner{
            display: block;
            position: relative;
            width: 50px;
            height:50px;
            &::before{
              display: block;
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top:0;
              bottom:0;
              right:0;
              margin: auto;
              background-image: url(../img/common/arrow.png);
              background-size: 50px;
              background-position: center left 0;
              background-repeat: no-repeat;
              transition: background .3s;
              will-change: background;
            }
          }
          &.left{
            display: block;
            left:0;
            .arrow_inner{
              &::before{
                background-position: center left -50px;
              }
            }
          }
          &.right{
            right: 0;
            .arrow_inner{
              &::before{
                background-position: center left 0px;
              }
            }
          }
        }
        &.blue{
          background-image: linear-gradient(to left, #666BFD 0%, #04E3FD 100%);
          &::before{
            background-image: linear-gradient(to right, #666BFD 0%, #04E3FD 100%);
          }
        }
        &.red{
          background-image: linear-gradient(to right, $keyOrange 0%, $insertOrange 100%);
          &::before{
            background-image: linear-gradient(to left, $keyOrange 0%, $insertOrange 100%);
          }
        }
        &.nobg{
          background-color: transparent;
          border: 1px solid $fontColor;
          .txt{
            color: $fontColor;
          }
          .arrow{
            .arrow_inner{
              &::before{
                background-image: url(../img/common/arrow_gray.svg);
              }
            }
          }
        }
        &.vision{
          background-color: rgba(#fff, 0.8);
          .txt{
            color: $fontColor;
          }
          .arrow{
            background-image: linear-gradient(to right, $keyOrange 0%, $insertOrange 100%);
          }
        }
        &:hover{
          &::before{
            opacity: 1;
          }
          .txt{
            &.align_left{
              transform: translate(25px,0);
            }
          }
          .arrow{
            &.left{
              display: block;
              left:0;
              .arrow_inner{
                &::before{
                  background-position: center left 0px;
                }
              }
            }
            &.right{
              right: 0;
              .arrow_inner{
                &::before{
                    background-position: center left 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
