.comp-underpage-ttl{
  @include bgSet;
  background-image: url(../img/common/ttl_bg.jpg);
  .main_inner{
    @include wrapper;
    @include flexSet;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    .comp-section-title{
      margin-top: 60px;
    }
  }
}

@media screen and (min-width: 768px){
  .comp-underpage-ttl{
    @include bgSet;
    background-image: url(../img/common/ttl_bg_pc.jpg);
    .main_inner{
      height: 450px;
      .comp-section-title{
        margin-top: 60px;
      }
    }
  }
}
