.comp-sp-recruit-menu{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  z-index: 100;
  background: rgba(#fff,0.8);
  transform: translate(0,100%);
  transition: transform .3s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: transform;
  .comp-link-button{
    @include flexSet;
    justify-content: space-between;
    .button_item{
      width: calc(50% - 5px);
      margin-bottom: 0;
      &:nth-last-of-type(1){
        margin-right: 0;
      }
      a{
        line-height: 40px;
        .arrow{
          .arrow_inner{
            height: 40px;
          }
        }
      }
    }
  }
  &.display{
    transform: translate(0,0);
  }
}

@media screen and (min-width: 980px){
  .comp-sp-recruit-menu{
    display: none;
  }
}
