header{
  position: fixed !important;
  width: 100%;
  top:0;
  left:0;
  z-index: 1000;
  height: auto !important;
  transition: opacity 1s;
  will-change: opacity;
  .header_inner{
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background: rgba(#fff, 0.8);
    .header_logo{
      width: 172px;
      padding-left: 20px;
      a{
        display: block;
      }
    }
    .header_navigation{
      .navigation_list{
        display: none;
      }
      .header_menu{
        button{
          display: block;
          width: 50px;
          height: 50px;
          position: relative;
          span{
            display: block;
            position: absolute;
            left:0;
            right:0;
            margin: auto;
            width: 30px;
            height: 2px;
            background: $fontColor;
            transition: background .1s, transform .1s;
            will-change: background, transform;
            &:nth-of-type(1){
              top: 20px;
            }
            &:nth-of-type(2){
              bottom: 20px;
            }
          }
          &.hum_open{
            span{
              &:nth-of-type(1){
                transform:translateY(4.5px) rotate(45deg);
              }
              &:nth-of-type(2){
                transform:translateY(-4.5px) rotate(-45deg)
              }
            }
          }
        }
      }
    }
  }
  &.index{
    opacity: 0;
  }
}

@media screen and (min-width: 980px){
  header{
    top: 20px !important;
    .header_inner{
      width: calc(100% - 100px);
      margin: 0 auto;
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 10px;
      background: rgba(#fff, 0.8);
      min-width: 1100px;
      .header_logo{
        width: 285px;
        padding-left: 0px;
        a{
          display: block;
        }
      }
      .header_navigation{
        .navigation_list{
          @include flexSet;
          align-items: center;
          ul{
            @include flexSet;
            align-items: center;
            li{
              margin-right: 30px;
              a{
                display: block;
                font-size: 1.4rem;
                color: inherit;
                transition: color .3s;
                will-change: color;
                &:hover{
                  color: $hoverColor;
                }
              }
            }
          }
          .comp-link-button{
            @include flexSet;
            align-items: center;
            .button_item{
              margin-right: 10px;
              &:nth-last-of-type(1){
                margin-right: 0px;
              }
              a{
                width: 120px;
                font-size: 1.4rem;
                justify-content: space-between;
                line-height: 40px;
                .txt{
                  font-size: 1.4rem;
                  padding-right: 20px;
                }
                .arrow{
                  height: 40px;
                  .arrow_inner{
                    height: 40px;
                  }
                }
              }
            }
          }
        }
        .header_menu{
          display: none;
        }
      }
    }
  }
}
